<div class=container>
  <img src="../static/img/Books-icon.png" alt="CourseFinder" title="CourseFinder" />
  <h1>CourseFinder</h1>
  <h3>The course-finding, web-scraping search engine that looks like Google...</h3>
  <form id="searchForm">
    <input id="searchTerm" type="text" placeholder="Feature Coming Soon..."/>
    <br />
    <button id="searchButton" type="submit">CourseFinder Search</button>
    <button id="browseButton" type="submit">I'm Feeling Lucky</button>
  </form>
</div>

<script src="static/js/main.js"></script>
