
<div class="searchResultPage">
  <img src="../static/img/Books-icon.png" alt="CourseFinder" title="CourseFinder" />
  <form id="formSearch">
    <input id="tryAgainInput" type="text"/>
    <button id="tryAgainButton">Search Again</button>
  </form>
  <section id="searchResults">
    <!-- <div id="card">
      <h4>Learn about Node JS</h4>
      <a href="#">www.sample.com/nuggets</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
         ut aliquip ex ea commodo consequat.</p>
    </div> -->
  </section>
</div>

<script src="static/js/search.js"></script>
